*{
   padding: 0;
   font-family: sans-serif;
    margin: 0;
    background-attachment: fixed;
}
.header{
    width: 100%;
    background-image: linear-gradient(rgba(220, 97, 97, 0.412),rgba(148, 67, 67, 0.604)),url(/images/iko.JPG);
    margin-top: 0;
}
.container{
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-left: 0px;
   
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #000 ;
    transition: 1s;
    background: linear-gradient(to top, #ed7396, #ffffff );
    font-weight: 600;
    font-size: 12px;
    font-style: italic;
    font-family: 'Lucida Sans',;
    
}
.header ul li a:hover{
    background: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 1s;
    color: rgba(0, 0, 0, 0.802);
  
    
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 20px;
    margin-top: 65px;
}
.col-1 h2{
    font-size: 54px;
    color: rgb(60, 50, 55);
    margin:  0 10px;
}
.col-1 h3{
    font-size: 20px;
    color: #000000;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    background-color: rgba(69, 165, 182, 0.761);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    transition: 0.5s;
    font-weight: 600;
    margin: 20px 0 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.col-1 h3:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(24, 233, 219, 0.583);
    border-radius: 20px;
    transition: 0.5s;
}
.col-1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    
    background-color: rgba(112, 245, 105, 0.837) ;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic ;
    border: 4px solid rgba(255, 255, 255, 0);
    transition: 0.5s;
    margin-top: 12px;
    position: relative;
    margin-left: 30px;
    margin-right: 20px;
}
.col-1 p:hover{
    background-color: rgba(54, 247, 118, 0.631);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.col-1 h4{
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(226, 245, 105, 0.837) ;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic ;
    border: 4px solid rgba(255, 255, 255, 0);
    transition: 0.5s;
    margin: 12px;
    position: relative;
    margin-left: 30px;
    margin-right: 78%;
    
}
.col-1 h4:hover{
    background-color: rgb(182, 170, 0);
    color: rgb(255, 255, 255);
    transition: 0.5;
    border-radius: 20px;
}

span{
    background-color: rgb(243, 110, 110);
    border-radius: 20px;
    color: #000;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527 );
    border-radius: 6px;
    cursor: pointer;
    transition: width 1s;
}
button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block;
    transition: width 1s;
    
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient( #ff469f, #ff6062 );
    position: absolute;
    left: -30px;
    top: 8px;
}
.col-2{
    padding: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .controller{
    width: 90%;
}
.add-btn img{
    width: 35px;
    margin-bottom: 5px;
}
.add-btn{
    text-align: center;
    color: #fff;
    content: pointer;

}


